.about-us {

    &__animation {
    }

    &__animation-box {
        position: relative;
        height: 49.6vw;
        width: 92vw;
        @media(min-width:778px){
            width: 92.188vw;
            height: 48.438vw;
        }
    }

    &__animation-2 {
        left: 50%;
        top: 0vw;
        transform: translate(-50%, 0);
        max-width: 28.267vw;
        width: 100%;
        @media(min-width:778px){
           max-width: 27.865vw;
        }
    }

    &__image {
        position: absolute;
    }

    &__animation-3 {
        left: 16.8vw;
        bottom: 0vw;
        max-width: 28.267vw;
        width: 100%;
        @media(min-width:778px){
            max-width: 27.865vw;
            left: 17.578vw;
         }
    }

    &__animation-4 {
        right: 16.533vw;
        bottom: 0vw;
        max-width: 28.267vw;
        width: 100%;
        @media(min-width:778px){
            max-width: 27.865vw;
            right: 17.448vw;
         }
    }

    &__animation-before {
        left: 0vw;
        top: 0vw;
        max-width: 44.8vw;
        width: 100%;
        @media(min-width:778px){
            max-width: 43.75vw;
         }
    }

    &__animation-after {
        right: 0vw;
        top: 0vw;
        max-width: 44.533vw;
        width: 100%;
        @media(min-width:778px){
            max-width: 43.359vw;
         }
    }

    &__animation-centr {
        left: 50%;
        bottom: 0vw;
        transform: translate(-50%, 0);
        max-width: 28.267vw;
        width: 100%;
        @media(min-width:778px){
            bottom: -0.13vw;
            max-width: 27.865vw;
         }
    }
}
