.ruby {
    position: relative;
    width: 92vw;
    height: 79.733vw;
    @media(min-width:768px){
        width: 60.677vw;
        height: 52.474vw;
        margin: 0 auto;
    }
    @media(min-width:1920px){
        width: 845px;
        height: 729px;
        margin-top: -86px;
    }
    &__item {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        max-width: 45.6vw;
        width: 100%;
        height: 39.733vw;
        line-height: 100%;
        @media(min-width:768px){
            max-width: 29.948vw;
            height: 26.042vw;
        }
        @media(min-width:1920px){
            max-width: 419px;
            height: 363px;
        }
    }

    &__item:nth-child(2) {
        top: 0vw;
        left: 23.2vw;
        @media(min-width:768px){
            left: 15.365vw;
        }
        @media(min-width:1920px){
            left: 213px;
        }
    }
    &__item:nth-child(2) &__sub-title-2 {
        margin-bottom: 6.667vw;
        @media(min-width:1920px){
            margin-bottom: 72px;
        }
    }
    &__item:nth-child(3) &__sub-title-2 {
        margin-top: 61.001px;
        @media(min-width:768px){
            margin-top: 7.943vw;
        }
    }
    &__item:nth-child(4) &__sub-title-2 {
        margin-bottom: 24vw;
        @media(min-width:768px){
            margin-bottom: 11.719vw;
        }
    }
    &__item:nth-child(5) &__sub-title-2 {
        margin-top: 18.133vw;
        @media(min-width:768px){
            margin-top: 8.854vw;
        }
        @media(min-width:1920px){
            margin-top: 141px;
        }
    }
    &__item:nth-child(6) &__sub-title-2 {
        margin-bottom: 23.2vw;
        @media(min-width:768px){
            margin-bottom: 11.328vw;
        }
    }

    &__item:nth-child(3) {
        top: 0vw;
        right: 0vw;

    }

    &__item:nth-child(4) {
        bottom: 0vw;
        right: 0vw;
    }

    &__item:nth-child(5) {
        bottom: 0vw;
        left: 23.2vw;
        @media(min-width:768px){
            left: 15.365vw;
        }
        @media(min-width:1920px){
            left: 213px;
        }
    }

    &__item:nth-child(6) {
        bottom: 0vw;
        left: 0vw;
    }


    &__item-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 45.6vw;
        height: 39.733vw;
        transform: translate(-50%, -50%);
        @media(min-width:768px){
            max-width: 29.948vw;
            width: 100%;
            height: 26.042vw;
        }
        @media(min-width:1920px){
            max-width: 419px;
            width: 100%;
            height: 363px;
        }
    }

    &__sub-title {
        position: relative;
        z-index: 2;
        color: $netural-100;
        font-weight: 600;
        letter-spacing: -0.038vw;
        margin-bottom: 1.6vw;
        margin-top: 13.333vw;
        font-size: 3.467vw;
        @media(min-width:768px){
            font-size: 1.823vw;
        }
        @media(min-width:1920px){
           font-size: 24px;
           letter-spacing: -0.266px;
           margin-bottom: 13px;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        font-size: 4.8vw;
        color: $netural-100;
        font-weight: 700;
        letter-spacing: -0.053vw;
        @media(min-width:768px){
            font-size: 3.385vw;
        }
        @media(min-width:1920px){
            font-size: 46px;
            letter-spacing: -0.505px;
         }
    }

    &__sub-title-2 {
        position: relative;
        z-index: 2;
        font-size: 3.467vw;
        font-weight: 500;
        max-width: 28vw;
        display: block;
        margin: 0 auto;
        text-align: center;
        line-height: normal;
        @media(min-width:768px){
            font-size: 1.823vw;
            max-width: 14.323vw;
        }
        @media(min-width:1920px){
          font-size: 24px;
          font-weight: 600;
          letter-spacing: -0.264px;
          max-width: 190px;
        }

    }
}