.shard-1{
    top: 0;
    left: 0;
    // width: calc($index * 10.7364);
    // height: calc($index * 33.6299);
  
}
.shard-2{
    top: 0;
    left: 12%;
    // width: calc($index * 29.2812779);
    // height: calc($index * 49.9556349);
}
.shard-3{
    top: 0;
    right: 0;
    // width: calc($index * 22.62649);
    // height: calc($index * 21.829);
}
.shard-4{
    top: 28%;
    left: 0;
}
.shard-5{
    top: -8%;
    right: 0;
}
.shard-6{
    bottom: 0;
    left: 0;
}
.shard-7{
    top: 11%;
    right: 0;
}