.button-secondary{
    border-radius: 2px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    border: 1px solid $colorGold;
    @media(min-width:768px){
        padding: 22px 40px;
        max-height: 58px;
    }
    @media(min-width:1440px){
        padding: 26px 40px;
        max-height: 69px;
    }

    // добавляем анимацию при наведении------
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s ease;
        background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%);
        box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.40);
        opacity: 0;
    }
    &:hover::before {
        opacity: 1;
    }

    &:hover span{
        color: $netural-100;
    }

    // анимация при нажатии----
    &:hover:active::before{
        display: none;
    }
    &:active{
        background: #3C5A5C;
    }

    & span{
        color: $netural-10;
        font-weight: 600;
        font-size: 16px;
        position: relative;
        @media(min-width:768px){
            font-size: 18px;
        }
    }
}
