.button-services{
    border-radius: 2px;
    border: 1px solid $colorGold;
    position: relative;
    background: linear-gradient(168deg, #AD8557 -31.36%, #D4C8B6 126.18%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13.867vw;
    padding: 4.8vw 10.667vw;
    @media(min-width:768px){
        height: 7.943vw;
        padding: 2.865vw 5.208vw;
    }
    @media(min-width:1920px){
        max-height: 69px;
        padding: 16px 36px;
    }

    // добавляем анимацию при наведении------
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .5s ease;
        background: linear-gradient(170deg, #B2895A -79.47%, #D9CDBA 142.56%);
        opacity: 0;
    }
    &:hover::before {
        opacity: 1;
    }


    & span{
        color: $netural-100;
        font-weight: 600;
        font-size: 4.8vw;
        position: relative;
        transition: color 0.3s ease;
        @media(min-width:768px){
            font-size: 2.604vw;
        }
        @media(min-width:1920px){
            font-size: 24px;
        }
    }
}