@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: black;
}

.hero-main__title span:first-child {
  font-weight: 700;
  font-size: 13.333vw;
  line-height: 110%;
  font-family: Stem;
}
@media (min-width: 768px) {
  .hero-main__title span:first-child {
    font-size: 13.021vw;
    line-height: 90%;
  }
}
@media (min-width: 1920px) {
  .hero-main__title span:first-child {
    font-size: 100px;
    line-height: 100%;
  }
}

.project-office__title, .title {
  font-size: 8vw;
  line-height: 110%;
  font-family: Stem;
}
@media (min-width: 768px) {
  .project-office__title, .title {
    font-size: 5.99vw;
  }
}
@media (min-width: 1920px) {
  .project-office__title, .title {
    font-size: 60px;
  }
}

.project-office__card-title {
  font-size: 4.267vw;
  font-weight: 600;
  line-height: 120%;
  font-family: Stem;
}
@media (min-width: 768px) {
  .project-office__card-title {
    font-size: 2.344vw;
  }
}
@media (min-width: 1920px) {
  .project-office__card-title {
    font-size: 20px;
  }
}

.project-office__desc, .hero-main__bottom p {
  font-size: 4.8vw;
  line-height: 145%;
}
@media (min-width: 768px) {
  .project-office__desc, .hero-main__bottom p {
    font-size: 2.865vw;
  }
}
@media (min-width: 1920px) {
  .project-office__desc, .hero-main__bottom p {
    font-size: 24px;
  }
}

.mission__cards-text, body {
  font-size: 4.267vw;
  line-height: 140%;
}
@media (min-width: 768px) {
  .mission__cards-text, body {
    font-size: 2.344vw;
    line-height: 150%;
  }
}
@media (min-width: 1920px) {
  .mission__cards-text, body {
    font-size: 20px;
    line-height: 150%;
  }
}

.project-office__card-desc {
  font-size: 4.267vw;
  line-height: 140%;
}
@media (min-width: 768px) {
  .project-office__card-desc {
    font-size: 2.083vw;
  }
}

body {
  font-family: Manrope;
  background-color: #FFF;
  color: #383027;
}

.container {
  max-width: 100vw;
  margin: 0vw auto;
  padding: 0vw 4vw;
}
@media (min-width: 768px) {
  .container {
    max-width: 92.188vw;
    padding: 0 3.906vw;
  }
}
@media (min-width: 1360px) {
  .container {
    max-width: 89.583vw;
    padding: 0 4.688vw;
  }
}

.title {
  font-weight: 350;
  margin-bottom: 8vw;
}
@media (min-width: 768px) {
  .title {
    margin-bottom: 4.557vw;
  }
}
@media (min-width: 1360px) {
  .title {
    margin-bottom: 1.823vw;
  }
}

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"), url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Light.woff2") format("woff2"), url("../fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-Bold.woff2") format("woff2"), url("../fonts/Stem-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-ExtraLight.woff2") format("woff2"), url("../fonts/Stem-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-Light.woff2") format("woff2"), url("../fonts/Stem-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-Regular.woff2") format("woff2"), url("../fonts/Stem-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-SemiLight.woff2") format("woff2"), url("../fonts/Stem-SemiLight.woff") format("woff");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-Thin.woff2") format("woff2"), url("../fonts/Stem-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Stem;
  font-display: swap;
  src: url("../fonts/Stem-Medium.woff2") format("woff2"), url("../fonts/Stem-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.header {
  -webkit-box-shadow: 0vw 1.067vw 4vw 0vw rgba(0, 0, 0, 0.05);
          box-shadow: 0vw 1.067vw 4vw 0vw rgba(0, 0, 0, 0.05);
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 16vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.667vw 0vw;
}
@media (min-width: 768px) {
  .header__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2.083vw 0vw;
  }
}
@media (min-width: 1360px) {
  .header__body {
    padding: 1.042vw 0;
  }
}
@media (min-width: 768px) {
  .header__logo {
    margin-left: 9.375vw;
  }
}
@media (min-width: 1360px) {
  .header__logo {
    margin-left: 0;
    margin-right: 3.385vw;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.header__logo .logo__img {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32.533vw;
          flex: 0 0 32.533vw;
}
@media (min-width: 768px) {
  .header__logo .logo__img {
    max-width: 20.833vw;
  }
}
@media (min-width: 1360px) {
  .header__logo .logo__img {
    max-width: 8.333vw;
  }
}
.header .phone {
  border-radius: 0.533vw;
  background: #F7F7F7;
  height: 10.667vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.667vw;
          flex: 0 0 10.667vw;
  padding: 1.6vw;
  position: relative;
}
@media (min-width: 768px) {
  .header .phone {
    margin-left: auto;
    border-radius: 0.26vw;
    background: #F7F7F7;
    height: 6.25vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.25vw;
            flex: 0 0 6.25vw;
    padding: 1.302vw;
  }
}
@media (min-width: 1360px) {
  .header .phone {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.51vw;
            flex: 0 0 11.51vw;
    padding-left: 1.563vw;
    background-color: transparent;
  }
}
@media (min-width: 1360px) {
  .header .phone:hover span {
    background: -webkit-gradient(linear, left top, left bottom, from(#2C4646), to(#678E96));
    background: linear-gradient(180deg, #2C4646 0%, #678E96 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}
.header .button-small {
  display: none;
}
@media (min-width: 768px) {
  .header .button-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-left: 2.604vw;
  }
}
.header .phone span {
  display: none;
}
@media (min-width: 1360px) {
  .header .phone span {
    display: inline-block;
    font-size: 1.042vw;
    font-weight: 300;
  }
}
.header .phone::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/icon/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.6vw;
  height: 5.6vw;
}
@media (min-width: 768px) {
  .header .phone::before {
    width: 3.646vw;
    height: 3.646vw;
  }
}
@media (min-width: 1360px) {
  .header .phone::before {
    left: 0;
    -webkit-transform: translate(0, -57%);
            transform: translate(0, -57%);
    width: 1.25vw;
    height: 1.25vw;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__wrap {
  display: none;
}
@media (min-width: 1360px) {
  .menu__wrap {
    display: block;
  }
}
@media (min-width: 1360px) {
  .menu__wrap .button-small {
    display: none;
  }
}
@media (min-width: 1360px) {
  .menu__wrap .menu__phone {
    display: none;
  }
}
@media (min-width: 1360px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.042vw;
  }
}
@media (min-width: 1360px) {
  .menu__list {
    gap: 1.667vw;
    max-width: 526.615vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.menu__list li.dropdown {
  position: relative;
  padding-right: 5.333vw;
}
@media (min-width: 1360px) {
  .menu__list li.dropdown {
    padding-right: 1.042vw;
  }
}
.menu__list li.dropdown::before {
  content: "";
  position: absolute;
  right: 0vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url("../img/icon/menu-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 4.8vw;
  height: 4.8vw;
  cursor: pointer;
}
@media (min-width: 1360px) {
  .menu__list li.dropdown::before {
    width: 0.938vw;
    height: 0.938vw;
  }
}
@media (min-width: 1360px) {
  .menu__list > li:hover a {
    background: -webkit-gradient(linear, left top, left bottom, from(#2C4646), to(#678E96));
    background: linear-gradient(180deg, #2C4646 0%, #678E96 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}
.menu__list > li.dropdown:hover::before {
  background-image: url("../img/icon/menu-arrow-open.svg");
}
@media (min-width: 1360px) {
  .menu__list > li:not(:first-child):hover {
    margin-left: -0.208vw;
  }
}
@media (min-width: 1360px) {
  .menu__list > li:first-child:hover {
    margin-left: -0.104vw;
  }
}
@media (min-width: 1360px) {
  .menu__list li a {
    font-size: 0.938vw;
    font-weight: 300;
    font-family: Manrope;
  }
}
@media (min-width: 1360px) {
  .menu__list li a {
    font-size: 1.042vw;
  }
}

.sub-menu {
  display: none;
}

.menu__icon {
  width: 10.133vw;
  height: 5.867vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .menu__icon {
    width: 5.729vw;
    height: 2.865vw;
  }
}
@media (min-width: 1360px) {
  .menu__icon {
    display: none;
  }
}
.menu__icon::before {
  content: "";
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 0.533vw;
  background-color: #446467;
}
@media (min-width: 768px) {
  .menu__icon::before {
    height: 0.26vw;
  }
}
.menu__icon::after {
  content: "";
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  width: 100%;
  height: 0.533vw;
  background-color: #446467;
}
@media (min-width: 768px) {
  .menu__icon::after {
    height: 0.26vw;
  }
}
.menu__icon span {
  background-color: #446467;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0vw;
  width: 100%;
  height: 0.533vw;
}
@media (min-width: 768px) {
  .menu__icon span {
    height: 0.26vw;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sotial-telegram {
  border-radius: 0.533vw;
  border: 0.267vw solid #BFA380;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12vw;
  height: 12vw;
  position: relative;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  overflow: hidden;
}
.sotial-telegram::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#487373), to(#7BA9B2)), #F7F7F7;
  background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%), #F7F7F7;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}
.sotial-telegram:hover {
  border: none;
  border-radius: 0.533vw;
  border-color: #446467;
}
.sotial-telegram:hover::before {
  opacity: 1;
  border-radius: 0.533vw;
}
.sotial-telegram:hover .sotial-telegram__path {
  fill: #F7F7F7;
}

.sotial-youtube {
  border-radius: 0.533vw;
  border: 0.267vw solid #BFA380;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12vw;
  height: 12vw;
  position: relative;
  -webkit-transition: border 0.3s ease;
  transition: border 0.3s ease;
  overflow: hidden;
}
.sotial-youtube::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#487373), to(#7BA9B2)), #F7F7F7;
  background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%), #F7F7F7;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
}
.sotial-youtube:hover {
  border: none;
  border-radius: 0.533vw;
  border-color: #446467;
}
.sotial-youtube:hover::before {
  opacity: 1;
  border-radius: 0.533vw;
}
.sotial-youtube:hover svg stop:first-child {
  stop-color: #F7F7F7;
}
.sotial-youtube:hover svg stop:last-child {
  stop-color: #F7F7F7;
}
.sotial-youtube:hover .sotial-youtube__path {
  stroke: #446467;
}

.button-normal {
  padding: 4.8vw 10.667vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#2C4646), to(#678E96));
  background: linear-gradient(180deg, #2C4646 0%, #678E96 100%);
  border-radius: 0.533vw;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13.067vw;
}
@media (min-width: 768px) {
  .button-normal {
    padding: 2.865vw 5.208vw;
    height: 7.682vw;
  }
}
@media (min-width: 1920px) {
  .button-normal {
    padding: 26px 40px;
    max-height: 69px;
  }
}
.button-normal::before {
  content: "";
  position: absolute;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#487373), to(#7BA9B2));
  background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
  opacity: 0;
}
.button-normal:hover::before {
  opacity: 1;
}
.button-normal:hover:active::before {
  display: none;
}
.button-normal:active {
  background: #3C5A5C;
}
.button-normal span {
  color: #fff;
  font-weight: 600;
  font-size: 4.8vw;
  position: relative;
}
@media (min-width: 768px) {
  .button-normal span {
    font-size: 2.604vw;
  }
}
@media (min-width: 1920px) {
  .button-normal span {
    font-size: 24px;
  }
}

.button-small {
  background: -webkit-gradient(linear, left top, left bottom, from(#2C4646), to(#678E96));
  background: linear-gradient(180deg, #2C4646 0%, #678E96 100%);
  border-radius: 0.533vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4.8vw 5.333vw;
  height: 12.8vw;
  width: 100%;
  line-height: 1;
}
@media (min-width: 768px) {
  .button-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2.344vw;
    max-width: 35.807vw;
    width: 100%;
    height: 6.25vw;
  }
}
@media (min-width: 1360px) {
  .button-small {
    padding: 22px 20px;
    max-width: 262px;
    max-height: 57px;
  }
}
.button-small::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#487373), to(#7BA9B2));
  background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
  opacity: 0;
}
.button-small:hover::before {
  opacity: 1;
}
.button-small:hover:active::before {
  display: none;
}
.button-small:active {
  background: #3C5A5C;
}
.button-small span {
  color: #fff;
  font-weight: 600;
  font-size: 4.267vw;
  position: relative;
}
@media (min-width: 768px) {
  .button-small span {
    font-size: 2.083vw;
  }
}
@media (min-width: 1920px) {
  .button-small span {
    font-size: 18px;
  }
}

.button-secondary {
  border-radius: 0.533vw;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 13.567vw;
  border: 0.267vw solid #BFA380;
}
@media (min-width: 768px) {
  .button-secondary {
    padding: 2.344vw;
    height: 6.38vw;
  }
}
@media (min-width: 1920px) {
  .button-secondary {
    padding: 26px 40px;
    max-height: 69px;
  }
}
.button-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: -webkit-gradient(linear, left top, left bottom, from(#487373), to(#7BA9B2));
  background: linear-gradient(180deg, #487373 0%, #7BA9B2 100%);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
          box-shadow: 0px 0px 15px 0px rgba(81, 135, 146, 0.4);
  opacity: 0;
}
.button-secondary:hover::before {
  opacity: 1;
}
.button-secondary:hover span {
  color: #FFF;
}
.button-secondary:hover:active::before {
  display: none;
}
.button-secondary:active {
  background: #3C5A5C;
}
.button-secondary span {
  color: #383027;
  font-weight: 600;
  font-size: 4.267vw;
  position: relative;
}
@media (min-width: 768px) {
  .button-secondary span {
    font-size: 2.344vw;
  }
}
@media (min-width: 1920px) {
  .button-secondary span {
    font-size: 18px;
  }
}

.button-services {
  border-radius: 2px;
  border: 1px solid #BFA380;
  position: relative;
  background: linear-gradient(168deg, #AD8557 -31.36%, #D4C8B6 126.18%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 13.867vw;
  padding: 4.8vw 10.667vw;
}
@media (min-width: 768px) {
  .button-services {
    height: 7.943vw;
    padding: 2.865vw 5.208vw;
  }
}
@media (min-width: 1920px) {
  .button-services {
    max-height: 69px;
    padding: 16px 36px;
  }
}
.button-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: linear-gradient(170deg, #B2895A -79.47%, #D9CDBA 142.56%);
  opacity: 0;
}
.button-services:hover::before {
  opacity: 1;
}
.button-services span {
  color: #FFF;
  font-weight: 600;
  font-size: 4.8vw;
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (min-width: 768px) {
  .button-services span {
    font-size: 2.604vw;
  }
}
@media (min-width: 1920px) {
  .button-services span {
    font-size: 24px;
  }
}

.button-arrow {
  width: 8.533vw;
  height: 8.533vw;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.267vw solid transparent;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}
.button-arrow__path {
  fill: #BFA380;
  stroke: #BFA380;
}
.button-arrow:hover {
  border-color: #BFA380;
  -webkit-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}
.button-arrow:hover .button-arrow__path {
  -webkit-transition: fill 0.5s ease, stroke 0.3s ease;
  transition: fill 0.5s ease, stroke 0.3s ease;
}

.hero-main {
  min-height: 200.533vw;
  background-color: #FCFAFA;
  overflow: hidden;
  position: relative;
  margin-bottom: 26.667vw;
}
@media (min-width: 768px) {
  .hero-main {
    min-height: 122.917vw;
    margin-bottom: 19.531vw;
  }
}
@media (min-width: 1920px) {
  .hero-main {
    min-height: calc(100vh - 107px);
    margin-bottom: 240px;
  }
}
.hero-main__body {
  padding-top: 19.733vw;
  padding-bottom: 68.533vw;
}
@media (min-width: 768px) {
  .hero-main__body {
    padding-bottom: 37.5vw;
    padding-top: 10.677vw;
  }
}
.hero-main__shard {
  position: absolute;
  z-index: 20;
}
.hero-main__title span:first-child {
  color: #BFA380;
  margin-bottom: 4vw;
}
@media (min-width: 1920px) {
  .hero-main__title span:first-child {
    font-size: 144px;
  }
}
.hero-main__title span:last-child {
  color: #446467;
  font-family: Stem;
  font-size: 8vw;
  font-weight: 200;
  line-height: 90%;
  margin-bottom: 13.333vw;
}
@media (min-width: 768px) {
  .hero-main__title span:last-child {
    font-size: 9.156vw;
    line-height: 90%;
    margin-bottom: 10.417vw;
  }
}
@media (min-width: 1920px) {
  .hero-main__title span:last-child {
    font-size: 184px;
    line-height: 100%;
  }
}
@media (min-width: 1920px) {
  .hero-main .button-normal {
    max-width: 553px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
@media (min-width: 1920px) {
  .hero-main__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.hero-main__bottom p {
  margin-bottom: 13.333vw;
  font-weight: 600;
}
@media (min-width: 1920px) {
  .hero-main__bottom p {
    max-width: 729px;
    margin-right: 70px;
  }
}

.about-us {
  margin-bottom: 26.667vw;
}
@media (min-width: 768px) {
  .about-us {
    margin-bottom: 22.526vw;
  }
}
@media (min-width: 1920px) {
  .about-us {
    margin-bottom: 255px;
  }
}
@media (min-width: 1920px) {
  .about-us__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.about-us__left {
  margin-bottom: 14.4vw;
}
@media (min-width: 768px) {
  .about-us__left {
    margin-bottom: 8.594vw;
  }
}
@media (min-width: 1920px) {
  .about-us__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}
@media (min-width: 1920px) {
  .about-us__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}
.about-us__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-us__card {
  margin-bottom: 13.333vw;
}
@media (min-width: 768px) {
  .about-us__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 7.813vw;
  }
}
.about-us__card-top {
  font-family: Stem;
  font-weight: 500;
  line-height: 120%;
  color: #BFA380;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 2.667vw;
  margin-bottom: 4vw;
  position: relative;
}
.about-us__card-top::before {
  position: absolute;
  content: "";
  background-image: url("../img/bg/about-us-triangl.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 16vw;
  height: 14.933vw;
  top: -6.933vw;
  left: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  .about-us__card-top::before {
    width: 15.365vw;
    height: 10.417vw;
    top: -4.557vw;
  }
}
.about-us__text {
  font-size: 16vw;
}
@media (min-width: 768px) {
  .about-us__text {
    font-size: 13.021vw;
  }
}
.about-us__text-desc {
  font-size: 5.333vw;
}
@media (min-width: 768px) {
  .about-us__text-desc {
    font-size: 3.125vw;
  }
}
.about-us__desc {
  font-size: 3.733vw;
  line-height: 140%;
  color: #666;
  max-width: 43.733vw;
  width: 100%;
}
@media (min-width: 768px) {
  .about-us__desc {
    max-width: 39.063vw;
    font-size: 2.344vw;
    letter-spacing: -0.026vw;
  }
}
@media (min-width: 768px) {
  .about-us__desc br {
    display: none;
  }
}
@media (min-width: 1920px) {
  .about-us__left .title {
    display: none;
  }
}
.about-us__right .title {
  display: none;
}
@media (min-width: 1920px) {
  .about-us__right .title {
    display: block;
  }
}
.about-us__title {
  color: #383027;
}
@media (min-width: 768px) {
  .about-us__title {
    margin-bottom: 6.51vw;
  }
}
@media (min-width: 1920px) {
  .about-us__title {
    margin-bottom: 90px;
  }
}

.abous-us__animation {
  text-align: center;
}
.abous-us__animation-centr {
  width: 27.733vw;
  height: 24vw;
}
@media (min-width: 768px) {
  .abous-us__animation-centr {
    width: 27.083vw;
    height: 23.438vw;
  }
}

.about-us__animation-box {
  position: relative;
  height: 49.6vw;
  width: 92vw;
}
@media (min-width: 778px) {
  .about-us__animation-box {
    width: 92.188vw;
    height: 48.438vw;
  }
}
.about-us__animation-2 {
  left: 50%;
  top: 0vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 28.267vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-2 {
    max-width: 27.865vw;
  }
}
.about-us__image {
  position: absolute;
}
.about-us__animation-3 {
  left: 16.8vw;
  bottom: 0vw;
  max-width: 28.267vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-3 {
    max-width: 27.865vw;
    left: 17.578vw;
  }
}
.about-us__animation-4 {
  right: 16.533vw;
  bottom: 0vw;
  max-width: 28.267vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-4 {
    max-width: 27.865vw;
    right: 17.448vw;
  }
}
.about-us__animation-before {
  left: 0vw;
  top: 0vw;
  max-width: 44.8vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-before {
    max-width: 43.75vw;
  }
}
.about-us__animation-after {
  right: 0vw;
  top: 0vw;
  max-width: 44.533vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-after {
    max-width: 43.359vw;
  }
}
.about-us__animation-centr {
  left: 50%;
  bottom: 0vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 28.267vw;
  width: 100%;
}
@media (min-width: 778px) {
  .about-us__animation-centr {
    bottom: -0.13vw;
    max-width: 27.865vw;
  }
}

.shard-1 {
  top: 0;
  left: 0;
}

.shard-2 {
  top: 0;
  left: 12%;
}

.shard-3 {
  top: 0;
  right: 0;
}

.shard-4 {
  top: 28%;
  left: 0;
}

.shard-5 {
  top: -8%;
  right: 0;
}

.shard-6 {
  bottom: 0;
  left: 0;
}

.shard-7 {
  top: 11%;
  right: 0;
}

.ruby {
  position: relative;
  width: 92vw;
  height: 79.733vw;
}
@media (min-width: 768px) {
  .ruby {
    width: 60.677vw;
    height: 52.474vw;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .ruby {
    width: 845px;
    height: 729px;
    margin-top: -86px;
  }
}
.ruby__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 45.6vw;
  width: 100%;
  height: 39.733vw;
  line-height: 100%;
}
@media (min-width: 768px) {
  .ruby__item {
    max-width: 29.948vw;
    height: 26.042vw;
  }
}
@media (min-width: 1920px) {
  .ruby__item {
    max-width: 419px;
    height: 363px;
  }
}
.ruby__item:nth-child(2) {
  top: 0vw;
  left: 23.2vw;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(2) {
    left: 15.365vw;
  }
}
@media (min-width: 1920px) {
  .ruby__item:nth-child(2) {
    left: 213px;
  }
}
.ruby__item:nth-child(2) .ruby__sub-title-2 {
  margin-bottom: 6.667vw;
}
@media (min-width: 1920px) {
  .ruby__item:nth-child(2) .ruby__sub-title-2 {
    margin-bottom: 72px;
  }
}
.ruby__item:nth-child(3) .ruby__sub-title-2 {
  margin-top: 61.001px;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(3) .ruby__sub-title-2 {
    margin-top: 7.943vw;
  }
}
.ruby__item:nth-child(4) .ruby__sub-title-2 {
  margin-bottom: 24vw;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(4) .ruby__sub-title-2 {
    margin-bottom: 11.719vw;
  }
}
.ruby__item:nth-child(5) .ruby__sub-title-2 {
  margin-top: 18.133vw;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(5) .ruby__sub-title-2 {
    margin-top: 8.854vw;
  }
}
@media (min-width: 1920px) {
  .ruby__item:nth-child(5) .ruby__sub-title-2 {
    margin-top: 141px;
  }
}
.ruby__item:nth-child(6) .ruby__sub-title-2 {
  margin-bottom: 23.2vw;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(6) .ruby__sub-title-2 {
    margin-bottom: 11.328vw;
  }
}
.ruby__item:nth-child(3) {
  top: 0vw;
  right: 0vw;
}
.ruby__item:nth-child(4) {
  bottom: 0vw;
  right: 0vw;
}
.ruby__item:nth-child(5) {
  bottom: 0vw;
  left: 23.2vw;
}
@media (min-width: 768px) {
  .ruby__item:nth-child(5) {
    left: 15.365vw;
  }
}
@media (min-width: 1920px) {
  .ruby__item:nth-child(5) {
    left: 213px;
  }
}
.ruby__item:nth-child(6) {
  bottom: 0vw;
  left: 0vw;
}
.ruby__item-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 45.6vw;
  height: 39.733vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .ruby__item-bg {
    max-width: 29.948vw;
    width: 100%;
    height: 26.042vw;
  }
}
@media (min-width: 1920px) {
  .ruby__item-bg {
    max-width: 419px;
    width: 100%;
    height: 363px;
  }
}
.ruby__sub-title {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-weight: 600;
  letter-spacing: -0.038vw;
  margin-bottom: 1.6vw;
  margin-top: 13.333vw;
  font-size: 3.467vw;
}
@media (min-width: 768px) {
  .ruby__sub-title {
    font-size: 1.823vw;
  }
}
@media (min-width: 1920px) {
  .ruby__sub-title {
    font-size: 24px;
    letter-spacing: -0.266px;
    margin-bottom: 13px;
  }
}
.ruby__title {
  position: relative;
  z-index: 2;
  font-size: 4.8vw;
  color: #FFF;
  font-weight: 700;
  letter-spacing: -0.053vw;
}
@media (min-width: 768px) {
  .ruby__title {
    font-size: 3.385vw;
  }
}
@media (min-width: 1920px) {
  .ruby__title {
    font-size: 46px;
    letter-spacing: -0.505px;
  }
}
.ruby__sub-title-2 {
  position: relative;
  z-index: 2;
  font-size: 3.467vw;
  font-weight: 500;
  max-width: 28vw;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}
@media (min-width: 768px) {
  .ruby__sub-title-2 {
    font-size: 1.823vw;
    max-width: 14.323vw;
  }
}
@media (min-width: 1920px) {
  .ruby__sub-title-2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.264px;
    max-width: 190px;
  }
}

.mission {
  margin-bottom: 26.667vw;
}
@media (min-width: 768px) {
  .mission {
    margin-bottom: 22.526vw;
  }
}
@media (min-width: 1920px) {
  .mission {
    margin-bottom: 255px;
  }
}
@media (min-width: 1920px) {
  .mission__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
  }
}
@media (min-width: 1920px) {
  .mission__inner {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43%;
            flex: 0 0 43%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1920px) {
  .mission .button-normal {
    max-width: 407px;
  }
}
.mission__animation {
  margin-bottom: 8vw;
}
@media (min-width: 1920px) {
  .mission__animation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.mission__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mission__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
  margin-bottom: 8vw;
}
@media (min-width: 768px) {
  .mission__card {
    gap: 2.604vw;
    margin-bottom: 5.208vw;
  }
}
.mission__card-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.667vw;
          flex: 0 0 10.667vw;
  height: 10.667vw;
}
@media (min-width: 768px) {
  .mission__card-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.031vw;
            flex: 0 0 7.031vw;
    height: 7.031vw;
  }
}
.mission__cards-title {
  color: #BFA380;
  font-size: 5.333vw;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.059vw;
  margin-bottom: 4vw;
}
@media (min-width: 768px) {
  .mission__cards-title {
    font-size: 2.865vw;
    margin-bottom: 2.604vw;
    letter-spacing: -0.032vw;
  }
}
.project-office {
  margin-bottom: 26.667vw;
}
@media (min-width: 768px) {
  .project-office {
    margin-bottom: 180px;
  }
}
@media (min-width: 1920px) {
  .project-office {
    margin-bottom: 250px;
  }
}
@media (min-width: 1920px) {
  .project-office__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.project-office__title {
  font-weight: 350;
  margin-bottom: 8vw;
  color: #383027;
}
.project-office__desc {
  color: #383027;
  margin-bottom: 9.333vw;
  max-width: 213.333vw;
  width: 100%;
}
@media (min-width: 768px) {
  .project-office__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.project-office__card {
  border-radius: 0.533vw;
  background: #F7F7F7;
  padding: 4vw 4vw 5.333vw 4vw;
  margin-bottom: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .project-office__card {
    padding: 0.651vw 2.604vw 3.255vw 2.604vw;
    max-width: 44.792vw;
    width: 100%;
    height: 42.969vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}
@media (min-width: 1920px) {
  .project-office__card {
    max-width: 408px;
    max-height: 355px;
    overflow: hidden;
  }
}
.project-office__card-number {
  color: #BFA380;
  font-family: Stem;
  font-size: 16vw;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 2.667vw;
}
@media (min-width: 768px) {
  .project-office__card-number {
    margin-bottom: 1.302vw;
    font-size: 11.719vw;
  }
}
.project-office__card-title {
  margin-bottom: 4vw;
  color: #383027;
  font-family: Manrope;
}
@media (min-width: 768px) {
  .project-office__card-title {
    margin-bottom: 19.999px;
  }
}
@media (min-width: 1920px) {
  .project-office__card-title {
    margin-bottom: 32px;
  }
}
.project-office__card-desc {
  color: #666;
  max-width: 81.333vw;
}
@media (min-width: 768px) {
  .project-office__card-desc {
    letter-spacing: -0.023vw;
  }
}
.project-office .button-secondary {
  margin-bottom: 8vw;
}
@media (min-width: 768px) {
  .project-office .button-secondary {
    display: none;
  }
}
@media (min-width: 768px) {
  .project-office .button-normal {
    max-width: 44.792vw;
    width: 100%;
    margin-top: 35.417vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}
@media (min-width: 1920px) {
  .project-office .button-normal {
    max-width: 408px;
    margin-top: 286px;
  }
}
.project-office .project-office__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.project-office .project-office__card.hidden-card {
  display: none;
}
@media (min-width: 768px) {
  .project-office .project-office__card.hidden-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1920px) {
  .project-office__card .project-office__card-number {
    font-size: 140px;
    margin-bottom: 143px;
    margin-top: -20px;
    opacity: 0.4;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .project-office__card:hover .project-office__card-number {
    font-size: 90px;
    margin-bottom: 50px;
    padding-top: 30px;
    opacity: 1;
    margin-top: -40px;
  }
}