.menu {
    display: flex;

    &__wrap {
        display: none;

        @media(min-width:1360px) {
            display: block;
        }
    }

    &__wrap .button-small {
        @media(min-width:1360px) {
            display: none;
        }
    }

    &__wrap .menu__phone {
        @media(min-width:1360px) {
            display: none;
        }
    }

    &__list {
        @media(min-width:1360px) {
            display: flex;
            align-items: center;
            gap: 1.042vw;
        }

        @media(min-width:1360px) {
            gap: 1.667vw;
            max-width: 526.615vw;
            justify-content: space-between;
        }
    }

    &__list li.dropdown {
        position: relative;
        padding-right: 5.333vw;
        @media(min-width:1360px) {
            padding-right: 1.042vw;
        }
    }

    &__list li.dropdown::before {
        content: '';
        position: absolute;
        right: 0vw;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url('../img/icon/menu-arrow.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 4.8vw;
        height: 4.8vw;
        cursor: pointer;
        @media(min-width:1360px) {
            width: 0.938vw;
            height: 0.938vw;
        }
    }

    &__list>li:hover a {
        @media(min-width:1360px) {
            background: linear-gradient(180deg, #2C4646 0%, #678E96 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;

        }

    }

    &__list>li.dropdown:hover::before {
        background-image: url('../img/icon/menu-arrow-open.svg');
    }

    &__list>li:not(:first-child):hover {
        @media(min-width:1360px) {
            margin-left: -0.208vw;
        }

    }

    &__list>li:first-child:hover {
        @media(min-width:1360px) {
            margin-left: -0.104vw;
        }
    }

    &__list>li a {
        @media(min-width:1360px) {}
    }

    &__list li a {
        @media(min-width:1360px) {
            font-size: 0.938vw;
            font-weight: 300;
            font-family: $fontManrope;
        }

        @media(min-width:1360px) {
            font-size: 1.042vw;
        }
    }

}

.sub-menu {
    display: none;
}