.about-us {
    margin-bottom: 26.667vw;
    @media(min-width:768px){
        margin-bottom: 22.526vw;
    }
    @media(min-width:1920px){
        margin-bottom: 255px;
    }
    &__body {
        @media(min-width:1920px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        margin-bottom: 14.4vw;
        @media(min-width:768px){
            margin-bottom: 8.594vw;
        }
        @media(min-width:1920px){
            flex: 0 0 49%;
        }
    }

    &__right {
        @media(min-width:1920px){
            flex: 0 0 49%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 13.333vw;
        @media(min-width:768px){
            flex: 0 0 50%;
            margin-bottom: 7.813vw;
        }
    }

    &__card-top {
        font-family: $fontStem;
        font-weight: 500;
        line-height: 120%;
        color: $colorGold;
        display: flex;
        align-items: baseline;
        gap: 2.667vw;
        margin-bottom: 4vw;
        position: relative;
    }

    &__card-top::before{
        position: absolute;
        content: "";
        background-image: url("../img/bg/about-us-triangl.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 16vw;
        height: 14.933vw;
        top: -6.933vw;
        left: 0;
        z-index: -1;
        @media(min-width:768px){
            width: 15.365vw;
            height: 10.417vw;
            top: -4.557vw;
        }
    }

    &__text {
        font-size: 16vw;
        @media(min-width:768px){
            font-size: 13.021vw;
        }
    }

    &__text-desc {
        font-size: 5.333vw;
        @media(min-width:768px){
            font-size: 3.125vw;
        }
    }


    &__card-bottom {
    }

    &__desc {
        font-size: 3.733vw;
        line-height: 140%;
        color: $netural-40;
        max-width: 43.733vw;
        width: 100%;
        @media(min-width:768px){
            max-width: 39.063vw;
            font-size: 2.344vw;
            letter-spacing: -0.026vw;
        }
    }

    &__desc br{
        @media(min-width:768px){
        display: none;
    }
    }

    &__left .title{
        @media(min-width:1920px){
            display: none;
        }
    }

    &__right .title{
        display: none;
        @media(min-width:1920px){
            display: block;
        }
    }

    &__title{
        color: $netural-10;
        @media(min-width:768px){
            margin-bottom: 6.51vw;
        }
        @media(min-width:1920px){
            margin-bottom: 90px;
        }
    }
}

.abous-us {

    &__animation {
        text-align: center;
    }

    &__animation-centr {
        width: 27.733vw;
        height: 24vw;
        @media(min-width:768px){
            width: 27.083vw;
            height: 23.438vw;
        }
    }

}
