.about-us {
    margin-bottom: 100px;
    @media(min-width:768px){
        margin-bottom: 173px;
    }
    @media(min-width:1440px){
        margin-bottom: 255px;
    }
    &__body {
        @media(min-width:1440px){
            display: flex;
            justify-content: space-between;
        }
    }

    &__left {
        margin-bottom: 54px;
        @media(min-width:768px){
            margin-bottom: 66px;
        }
        @media(min-width:1440px){
            flex: 0 0 49%;
        }
    }

    &__right {
        @media(min-width:1440px){
            flex: 0 0 49%;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 50px;
        @media(min-width:768px){
            flex: 0 0 50%;
            margin-bottom: 60px;
        }
    }

    &__card-top {
        font-family: $fontStem;
        font-weight: 500;
        line-height: 120%;
        color: $colorGold;
        display: flex;
        align-items: baseline;
        gap: 10px;
        margin-bottom: 15px;
        position: relative;
    }

    &__card-top::before{
        position: absolute;
        content: "";
        background-image: url("../img/bg/about-us-triangl.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 60px;
        height: 56px;
        top: -26px;
        left: 0;
        z-index: -1;
        @media(min-width:768px){
            width: 118px;
            height: 80px;
            top: -35px;
        }
    }

    &__text {
        font-size: 60px;
        @media(min-width:768px){
            font-size: 100px;
        }
    }

    &__text-desc {
        font-size: 20px;
        @media(min-width:768px){
            font-size: 24px;
        }
    }


    &__card-bottom {
    }

    &__desc {
        font-size: 14px;
        line-height: 140%;
        color: $netural-40;
        max-width: 164px;
        width: 100%;
        @media(min-width:768px){
            max-width: 300px;
        }
    }

    &__desc br{
        @media(min-width:768px){
        display: none;
    }
    }

    &__left .title{
        @media(min-width:1440px){
            display: none;
        }
    }

    &__right .title{
        display: none;
        @media(min-width:1440px){
            display: block;
        }
    }

    &__title{
        color: $netural-10;
        @media(min-width:768px){
            margin-bottom: 50px;
        }
        @media(min-width:1440px){
            margin-bottom: 90px;
        }
    }
}

.abous-us {

    &__animation {
        text-align: center;
    }

    &__animation-centr {
        @media(min-width:768px){
            width: 208px;
            height: 180px;
        }
    }

}
