.hero-main {
    background-color: #FCFAFA;
    overflow: hidden;
    position: relative;
    margin-bottom: 26.667vw;
    @media(min-width:768px) {
        margin-bottom: 19.531vw;
    }
    @media(min-width:1360px){
        margin-bottom: 12.5vw;
    }

    &__body {
        padding-top: 18.667vw;
        padding-bottom: 66.667vw;
        @media(min-width:768px){
            padding: 10.677vw 0 37.109vw 0;
        }
        @media(min-width:1360px){
            padding: 4.167vw 0 20.313vw 0;
        }
    }

    &__shard {
        position: absolute;
        z-index: 20;
    }

    &__title {}

    &__title span:first-child {
        @extend %mobile-h1;
        color: $colorGold;
        margin-bottom: 4vw;
        @media(min-width:768px){
            margin-bottom: 3.646vw;
        }
        @media(min-width:1360px) {
            font-size: 7.5vw;
        }
    }

    &__title span:last-child {
        color: $colorGreen;
        font-family: $fontStem;
        font-size: 8vw;
        font-weight: 200;
        line-height: 90%;
        margin-bottom: 13.333vw;

        @media(min-width:768px) {
            font-size: 10.156vw;
            line-height: 90%;
            margin-bottom: 10.417vw;

        }

        @media(min-width:1360px) {
            font-size: 9.583vw;
            line-height: 100%;
            margin-bottom: 5.885vw;
        }
    }

    & .button-normal {
        @media(min-width:1360px) {
            max-width: 28.802vw;
            order: -1;
        }
    }

    &__bottom {
        @media(min-width:1360px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__bottom p {
        @extend %mobile-t1;
        font-weight: 600;
        @media(min-width:768px) {

        }
        @media(min-width:1360px) {
            max-width: 37.969vw;
            margin-right: 3.646vw;
        }


    }
}