.hero-main {
    min-height: calc(100vh - 60px);
    background-color: #FCFAFA;
    overflow: hidden;
    position: relative;

    &__body {
        padding-top: 70px;
        padding-bottom: 250px;
    }

    &__shard {
        position: absolute;
        z-index: 20;
    }

    &__content {}

    &__content h1 {
        @extend %mobile-h1;
        color: $colorGold;
        margin-bottom: 15px;

        @media(min-width:768px) {
      
        }
    }

    &__content h2 {
        color: $colorGreen;
        font-family: $fontStem;
        font-size: 30px;
        font-weight: 200;
        line-height: 90%;
        margin-bottom: 50px;
        @media(min-width:768px) {
       
            font-size: 78px;
            line-height: 90%;
            margin-bottom: 80px;
            
        }
    }

    &__content p {
        @extend %mobile-t1;
        margin-bottom: 50px;
        font-weight: 600;
        @media(min-width:768px) {
            
        }


    }
}