.mission {
margin-bottom: 100px;
@media(min-width:768px){
    margin-bottom: 173px;
}
@media(min-width:1440px){
    margin-bottom: 255px;
}
    &__body {}

    &__title {}

    &__content {
        @media(min-width:1440px){
            display: flex;
            justify-content: space-between;
            gap: 50px;
        }
    }
    &__inner{
        @media(min-width:1440px){
            flex: 0 0 43%;
            order: 1;
        }
    }
    & .button-normal{
        @media(min-width:1440px){
            max-width: 407px;
        } 
    }
    &__animation {
        margin-bottom: 30px;
        
        @media(min-width:1440px){
            flex: 0 0 50%;
            order: 2;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
    }

    &__card {
        display: flex;
        gap: 15px;
        margin-bottom: 30px;
        @media(min-width:768px){
            gap: 20px;
            margin-bottom: 40px;
        }
    }

    &__card-left {}

    &__card-img {
        flex: 0 0 40px;
        height: 40px;
        @media(min-width:768px){
            flex: 0 0 54px;
            height: 54px;
        }
    }

    &__card-right {}

    &__cards-title {
        color: $colorGold;
        font-size: 20px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.22px;
        margin-bottom: 15px;
        @media(min-width:768px){
          font-size: 22px;
          margin-bottom: 20px;  
          letter-spacing: -0.242px;
        }
    }

    &__cards-text {
        @extend %mobile-t2;
    }
}