.project-office {
    margin-bottom: 26.667vw;
	@media(min-width:768px){
		margin-bottom: 23.438vw;
	}
	@media(min-width:1360px){
		margin-bottom: 13.021vw;
	}
    &__body {

    }

    &__top {
        @media(min-width:1360px){
            display: flex;
            justify-content: space-between;
            margin-bottom: 3.125vw;
        }
    }

    &__title {
        @extend %mobile-h2;
        font-weight: 350;
        margin-bottom: 8vw;
        color: $netural-10;
        @media(min-width:768px){
            margin-bottom: 4.557vw;
        }
        @media(min-width:1360px){
            margin-bottom: 0vw;
        }
    }

    &__desc {
        color: $netural-10;
        @extend %mobile-t1;
        margin-bottom: 9.333vw;
        width: 100%;
        @media(min-width:768px){
            margin-bottom: 6.51vw;
        }
        @media(min-width:1360px){
            max-width: 44.271vw;
            margin-bottom: 0vw;
        }
    }

    &__bottom {
        
    }

    &__cards {
        @media(min-width:768px){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__card {
        border-radius: 0.533vw;
		background: $colorBackground;
		padding: 4vw 4vw 5.333vw 4vw;
		margin-bottom: 4vw;
        display: flex;
        @media(min-width:768px){
            width: 44.792vw;
            height: 42.969vw;
            padding: 0vw 2.604vw 3.255vw 2.604vw;
            margin-bottom: 2.604vw;
        }
        @media(min-width:1360px){
            padding: 1.042vw;
            height: 18.49vw;
            width: 21.198vw;
            overflow: hidden;
        }
    }

    &__card-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-top {
    }

    &__card-number {
        color: $colorGold;
		font-family: $fontStem;
		font-size: 16vw;
		font-weight: 500;
		line-height: 120%;
		margin-bottom: 2.667vw;
        @media(min-width:768px){
            font-size: 11.719vw;
        }
        @media(min-width:1360px){
            font-size: 7.292vw;
        }
    }

    &__card-bottom {
    }

    &__card-title {
        @extend %mobile-h4;
		margin-bottom: 4vw;
		color: $netural-10;
		font-family: $fontManrope;
        @media(min-width:768px){
            margin-bottom: 2.604vw;
        }
        @media(min-width:1360px){
            margin-bottom: 1.042vw;
        }
        
    }

    &__card-desc {
        @extend %mobile-textcard;
		color: $netural-40;
		max-width: 81.333vw;
        @media(min-width:768px){
            letter-spacing: -0.023vw;
            max-width: 39.583vw;
        }
        @media(min-width:1360px){
            max-width: 19.115vw;
            letter-spacing: -0.009vw;
        }
    }

    & .button-secondary{
        margin-bottom: 8vw;
        @media(min-width:768px){
            display: none;
        }
    }

    & .button-normal{
        @media(min-width:768px){
            max-width: 44.792vw;
            width: 100%;
            margin-top: 34.896vw;
            }
        @media(min-width:1360px){
            max-width: 21.25vw;
            margin-top: 14.896vw;
            }
    }

    	// Анимация при наведении----------
		@media(min-width:1360px){
            &__card &__card-number {
                font-size: 7.292vw;
                margin-bottom: 6.354vw;
                margin-top: -1.042vw;
                opacity: 0.4;
                transition: all 1s ease;
            } 
            
            &__card:nth-child(2) &__card-number,
            &__card:nth-child(3) &__card-number,
            &__card:nth-child(4) &__card-number,
            &__card:nth-child(6) &__card-number,
            &__card:nth-child(7) &__card-number{
                margin-bottom: 7.292vw;
            }

            &__card:hover &__card-number {
                font-size: 4.688vw;
                margin-bottom: 2.604vw;
                padding-top: 1.563vw;
                opacity: 1;
                margin-top: -2.083vw;
            }
            
        }
}
