.header {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
    &__body {
        display: flex;
        justify-content: space-between;
        min-height: 60px;
        align-items: center;
        padding: 10px 0;
        @media(min-width:768px){
            justify-content: flex-start;
        }
    }

    & .phone {
        border-radius: 2px;
        background: $colorBackground;
        height: 40px;
        flex: 0 0 40px;
        padding: 6px;
        position: relative;
        @media(min-width:768px){
            margin-left: auto;
        }
    }
    & .button-small{
        display: none;
        @media(min-width:768px){
            display: flex;
            position: relative;
            margin-left: 20px;
        }
    }
    & .phone span{
        display: none;
    }
    & .phone::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('../img/icon/phone.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 21px;
        height: 21px;
    }

}


