// шрифты
$fontStem: Stem;
$fontManrope: Manrope;


//brand colors
$colorGreen: #446467;
$colorGold: #BFA380;
$colorBackground: #F7F7F7;
$colorGray: #737373;
$colorBackground-2: #EBF2F1;


//gray collors
$netural-10: #383027;
$netural-20: #333;
$netural-30: #4D4D4D;
$netural-40: #666;
$netural-50: #808080;
$netural-60: #999;
$netural-70: #B3B3B3;
$netural-80: #CCC;
$netural-100: #FFF;


// типография desctop
%desktop-h3{
    font-size: 34px;
    line-height: 120%;
}
%desktop-h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}
%desktop-card{
    font-size: 18px;
    line-height: 140%;
}
%desktop-textcard{
    font-size: 16px;
    line-height: 150%;
}


//типография tablet
%tablet-h3{
    font-size: 30px;
    line-height: 120%;
}
%tablet-h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}
%tablet-card{
    font-size: 18px;
    line-height: 145%;
}
%tablet-textcard{
    font-size: 16px;
    line-height: 140%;
}


// типография mobile
%mobile-h1{
    font-weight: 700;
    font-size: 13.333vw;
    line-height: 110%;
    font-family: $fontStem;
    @media(min-width:768px){
        font-size: 13.021vw;
        line-height: 90%;
    }
    @media(min-width:1920px){
        font-size: 100px;
        line-height: 100%;
    }
}
%mobile-h2{
    font-size: 8vw;
    line-height: 110%;
    font-family: $fontStem;
    @media(min-width:768px){
        font-size: 5.99vw;
    }
    @media(min-width:1920px){
        font-size: 60px;
    }
}
%mobile-h3{
    font-size: 6.4vw;
    line-height: 120%;
    font-family: $fontStem;
}
%mobile-h4{
    font-size: 4.267vw;
    font-weight: 600;
    line-height: 120%;
    font-family: $fontStem;
    @media(min-width:768px){
        font-size: 2.344vw;
    }
    @media(min-width:1920px){
        font-size: 20px;
    }
}
%mobile-t1{
    font-size: 4.8vw;
    line-height: 145%;
    @media(min-width:768px){
        font-size: 2.865vw;
    }
    @media(min-width:1920px){
        font-size: 24px;
    }
}
%mobile-t2{
    font-size: 4.267vw;
    line-height: 140%;
    @media(min-width:768px){
        font-size: 2.344vw;
        line-height: 150%;
    }
    @media(min-width:1920px){
        font-size: 20px;
        line-height: 150%;
    }
}
%mobile-card{
    font-size: 4.267vw;
    line-height: 140%;
    
}
%mobile-textcard{
    font-size: 4.267vw;
    line-height: 140%;
    @media(min-width:768px){
    font-size: 2.083vw;
    }
}
%mobile-practits{
    font-size: 4vw;
    font-weight: 500;
    line-height: 125%;
}




